<ion-view title="Users" ng-controller="ListCtrl as vm">

  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">List</h1>
      <button class="button button-icon ion-plus" ng-click="vm.addItem()"></button>
  </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in vm.items">
                {{item.name}}
                <button class="button button-assertive" ng-click="vm.removeItem($index)">Remove item</button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
