<ion-view title="At the temple, aka the gym" ng-controller="ListCtrl as vm">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">List</h1>
  </ion-header-bar>

    <ion-content>
      <button class="button button-icon ion-plus" ng-click="vm.addItem()"></button>
        <ion-list>
            <ion-item ng-repeat="item in vm.items">
                {{item.name}}
                <button class="button button-assertive" ng-click="vm.removeItem($index)">Remove item</button>
            </ion-item>
        </ion-list>


      <ion-list>
        <button class="button button-balanced" ng-click="vm.newDay()">Heading to the gym!</button>
        <button class="button button-balanced" ng-click="vm.endDay()">Back from the gym!</button>
        <ion-item ng-repeat="day in vm.days">
          {{day.bodyPart}}
          {{day.time}}
          time in gym: {{vm.timeInGym}} minutes
        </ion-item>
      </ion-list>


    </ion-content>

</ion-view>
